<div class="p-5">
  <div>
    <h1 class="text-center">
      Editing profile
    </h1>
  </div>
  <div>
    <%= render "form", profile: @profile %>
  </div>
  <div>
    <%= link_to "Back", @profile, class:"btn btn-info" %> 
  </div>
</div>
